<!-- Welcome title -->
      <div class="intro__container main__intro">
        <header>
          <!--navigation to be rendered in from handlebars templates conditionally based upon login status -->
          <div class="intro main__intro">
            <!--Bootstrap dropstart component for user menu button-->
            <section class="icon__nav">
                <!--mobile navigation menu-->
                    <button class="btn btn-primary d-lg-none mobile-nav__button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"><i class="fa-solid fa-bars" style="color:5D38A0;"></i></button>
                    <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">somniary</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-header">
                        <ul class="mnav__list">
                            <li class="mnav__item"><i class="fa-solid fa-cloud nav__icon" style="color:FDF8FF;"></i>about</li>
                            <li class="mnav__item"><i class="fa-solid fa-book nav__icon" style="color:5D38A0;"></i>journal</li>
                            <li class="mnav__item"><i class="fa-solid fa-plus nav__icon" style="color:5D38A0;"></i>new dream</li>
                            <li class="mnav__item"><i class="fa-regular fa-calendar-days nav__icon" style="color:5D38A0;"></i>calendar</li>
                        </ul>
                    </div>
                
                </div>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user" style="color:5D38A0;"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button"><i class="fa-solid fa-gear" style="color:5D38A0;"></i></i> settings</button></li>
                        <li><button class="dropdown-item" id="theme-select" type="button"><i class="fa-regular fa-moon" style="color:5D38A0;"></i> dark mode</button></li>
                        <li><button class="dropdown-item" type="button"  id="logout_btn"><i class="fa-solid fa-arrow-right-from-bracket" style="color:5D38A0;"></i> sign out</button></li>
                    <!-- Dropdown menu links -->
                    </ul>
                </div>
            </section>
            <h1 class="page__title">somniary</h1>
            <nav>
                <ul class="nav__list hidden">
                    <li class="nav__item"><i class="fa-solid fa-cloud nav__icon" style="color:FDF8FF;"></i> about</li>
                    <li class="nav__item"><i class="fa-solid fa-book nav__icon" style="color:5D38A0;"></i> journal</li>
                    <li class="nav__item"><i class="fa-solid fa-plus nav__icon" style="color:5D38A0;"></i> new dream</li>
                    <li class="nav__item"><i class="fa-regular fa-calendar-days nav__icon" style="color:5D38A0;"></i> calendar</li>
                </ul>
            </nav>
          </div>
        </header>
      </div>
      <!-- empty div to be filled with handlebars templates -->
      <div class="panel">
        <!-- vanillacalendar implementation-->
        <div class="footer">
          <footer>
                      <hr>
                      <h5 class="footer__title">somniary</h5>
                      <small>©2023 cat-scratch feev | © somniary</small>
                  </footer>
      </div>
      </div>