<div class="page__container">
<!-- Welcome title -->
      <div class="intro__container main__intro">
        <header>
          <!--navigation to be rendered in from handlebars templates conditionally based upon login status -->
          <div class="intro main__intro">
            <!--Bootstrap dropstart component for user menu button-->
            <section class="icon__nav">
                <!--mobile navigation menu-->
                    <button class="btn btn-primary d-lg-none mobile-nav__button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"><i class="fa-solid fa-bars" style="color:5D38A0;"></i></button>
                    <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">somniary</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-header">
                        <ul class="mnav__list">
                            <li class="mnav__item about_btn"><i class="fa-solid fa-cloud nav__icon" style="color:FDF8FF;"></i>about</li>
                            <li class="mnav__item journal_btn"><i class="fa-solid fa-book nav__icon" style="color:5D38A0;"></i>journal</li>
                            <li class="mnav__item dreamlog_btn"><i class="fa-solid fa-plus nav__icon" style="color:5D38A0;"></i>new dream</li>
                            <li class="mnav__item calendar_btn"><i class="fa-regular fa-calendar-days nav__icon" style="color:5D38A0;"></i>calendar</li>
                        </ul>
                        
                    </div>
                
                </div>
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-user" style="color:5D38A0;"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button" id="settings_btn"><i class="fa-solid fa-gear" style="color:5D38A0;"></i> settings</button></li>
                        <li><button class="dropdown-item" type="button" id="darkmode_btn"><i class="fa-regular fa-moon" style="color:5D38A0;"></i> dark mode</button></li>
                        <li><button class="dropdown-item" type="button"  id="logout_btn"><i class="fa-solid fa-arrow-right-from-bracket" style="color:5D38A0;"></i> sign out</button></li>
                    <!-- Dropdown menu links -->
                    </ul>
                </div>
            </section>
            <h1 class="page__title" id="somniary">somniary</h1>
            <nav>
                <ul class="nav__list hidden">
                    <li class="nav__item about_btn" id="about_btn"><i class="fa-solid fa-cloud nav__icon" style="color:FDF8FF;"></i> about</li>
                    <li class="nav__item journal_btn" id="journal_btn"><i class="fa-solid fa-book nav__icon" style="color:5D38A0;"></i> journal</li>
                    <li class="nav__item dreamlog_btn" id="dreamlog_btn"><i class="fa-solid fa-plus nav__icon" style="color:5D38A0;"></i> new dream</li>
                    <li class="nav__item calendar_btn" id="calendar_btn"><i class="fa-regular fa-calendar-days nav__icon" style="color:5D38A0;"></i> calendar</li>
                </ul>
            </nav>
          </div>
        </header>
      </div>
      <!-- empty div to be filled with handlebars templates -->
<div class="container">
 <div class="row">
  <div class="twelve columns">
    <h1>Calendar of Events</h1>

    <div id="calendar">

      <div class="text-center">
        <a class="month-selector" href=
        "/Community/Calendar-of-Events/(meta_path_si)/261/(from_date)/2015-4-1">April</a>

        <h2 class="month-header">May 2015</h2><a class="month-selector" href=
        "/Community/Calendar-of-Events/(meta_path_si)/261/(from_date)/2015-6-1">June </a>
      </div>

      <hr />

      <div id="cal-wrapper">
        <div class="date yesterday col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>26 Sun</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date yesterday col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>27 Mon</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date yesterday col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>28 Tue</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date yesterday col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>29 Wed</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date yesterday col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>30 Thu</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>1 Fri</h4>
          </div>

          <div class="date-item">
            <b>8:30 am</b><br />
            <a href="/Community/Calendar-of-Events/Golfing-Event">Golfing Event</a>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>2 Sat</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-lg"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>3 Sun</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>4 Mon</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>5 Tue</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>6 Wed</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>7 Thu</h4>
          </div>

          <div class="date-item">
            <b>7:30 am</b><br />
            <a href=
            "/Community/Calendar-of-Events/Leadership-Breakfast2">
            Leadership Breakfast</a>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>8 Fri</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>9 Sat</h4>
          </div>

          <div class="date-item">
            <b>7:00 pm</b><br />
            <a href="/Community/Calendar-of-Events/Night-on-the-Town">
            Night on the Town</a>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-lg"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>10 Sun</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>11 Mon</h4>
          </div>

          <div class="date-item">
            <b>6:00 pm</b><br />
            <a href="/Community/Calendar-of-Events/Orientation-Meeting">Orientation Meeting</a>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>12 Tue</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date today col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>13 Wed</h4>
          </div>

          <div class="date-item">
            <b>12:00 am</b><br />
            <a href="/Community/Calendar-of-Events/Voting-Ends">Voting Ends</a>
          </div>

          <div class="date-item">
            <b>12:00 am</b><br />
            <a href=
            "/Community/Calendar-of-Events/Video-Submission-Deadline">Video Submission Deadline</a>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>14 Thu</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>15 Fri</h4>
          </div>

          <div class="date-item">
            <b>12:00 am</b><br />
            <a href="/Community/Calendar-of-Events/Conference">Conference</a>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>16 Sat</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-lg"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>17 Sun</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>18 Mon</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>19 Tue</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>20 Wed</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>21 Thu</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>22 Fri</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>23 Sat</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="clearfix clearfix-lg"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>24 Sun</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>25 Mon</h4>
          </div>

          <div class="date-item">
            <b>9:00 am</b><br />
            <a href="/Community/Calendar-of-Events/Holiday-Closing-Memorial-Day2">Holiday
            Closing - Memorial Day</a>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>26 Tue</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>27 Wed</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>28 Thu</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>29 Fri</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>30 Sat</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-lg"></div>

        <div class="date future col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header">
            <h4>31 Sun</h4>
          </div>

          <div class="date-item none">
            <b data="no-items" class="no-items">Currently No Events Scheduled</b>
          </div>
        </div>

        <div class="clearfix clearfix-sm"></div>

        <div class="clearfix clearfix-md"></div>

        <div class="date nextmonth col-xs-12 col-sm-6 col-md-3 sevencols col-lg-2">
          <div class="date-header text-center">
            <a href=
            "/Community/Calendar-of-Events/(meta_path_si)/261/(from_date)/2015-6-1"></a>

            <h4><a href=
            "/Community/Calendar-of-Events/(meta_path_si)/261/(from_date)/2015-6-1">View
            June</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>

        <div class="footer">
          <footer>
                      <hr>
                      <h5 class="footer__title">somniary</h5>
                      <small>©2023 cat-scratch feev | © somniary</small>
                  </footer>
      </div>

      </div>
    </div>
    <!--fontawesome import-->
    <script
      src="https://kit.fontawesome.com/d14b0991e4.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/home.js"></script>
    <script src="./js/theme.js"></script>
 
    <script src="./controllers/api/calendarWork.js"></script>
   
    
