
<!-- "log in! h3?" -->
<h2 class="panel__title">log in!</h2>
<!-- two form fields, one with username, one with pass -->
<form action="submit" method="post" class="signup">
  <label for="username">email</label>
  <input type="text" name="email" id="username" required />
  <label for="password">password</label>
  <input type="text" name="password" id="password" required />
  <button type="submit" formmethod="post" id="submit">
    <span id="login">log in</span>
  </button>
</form>
<!-- sign up link -->
<a href="/moe/signup.html">

<h2 id="reg-request">Need A Dreamspace ?</h2>
<h5>Register today !</h5>
</a>


