
<!-- "log in! h3?" -->
<h2 class="panel__title">log in!</h2>
<!-- two form fields, one with username, one with pass -->
<form action="submit" method="post" class="signup">
  <label for="username">email</label>
  <input type="text" name="email" id="username" required />
  <label for="password">password</label>
  <input type="text" name="password" id="password" required />
  <button type="submit" formmethod="post" class="signup_btn">
    <span class="btn_text">log in</span>
  </button>
</form>
<!-- sign up button -->
<h4>Need a dreamspace? Register today !</h4>
<button type="button">Sign-Up</button>