
<!-- "log in! h3?" -->
<h2 class="panel__title">log in!</h2>
<!-- two form fields, one with username, one with pass -->

<form action="submit" method="post" class="login_form">
  <label for="username">username</label>
  <input type="text" name="username" id="username_login" required />
  <label for="password">password</label>
  <input type="text" name="password" id="password_login" required />
  <button type="submit" formmethod="post" class="login_btn">
    <span class="btn_text">log in</span>

  </button>
</form>
<!-- sign up link -->
<a href="/moe/signup.html">

<h2 id="reg-request">Need A Dreamspace ?</h2>
<h5>Register today !</h5>
</a>


