<div class="profileSettings">
    <div clas="profileSettings_body">
        {{! Profile Settings Title}}
        <h2>profile settings</h2>

        {{! Username Title with a form underneath}}
        <h3>username</h3>
        <form>
             <input type="text" id="username" placeholder="username">
        </form>
        {{! Email Title with a form underneath}}
        <h3>email</h3>
        <form>
            <input type="text" id="email" placeholder="email">
        </form>
        {{! Dream Tracking Goal Title
        "your goal will be displayed on your home page"
        form underneath}}
        <h3>dream tracking goal</h3>
        <h4>your goal will be displayed on your home page!</h4>
        <form>
           <input type="text" id="dream" placeholder="I am tracking my dreams to...">
        </form>
        {{! Save Button}}
        <button type="button">save</button>
    </div>
</div>
<div class="footer>">
    <footer>
                <hr>
                <h5>somniary</h5>
                <small>©2023 cat-scratch feev | © somniary</small>
            </footer>
</div>