<div class="page__container">
  <div class="intro__container main__intro">
    <header>
      <!--navigation to be rendered in from handlebars templates conditionally based upon login status -->
      <h1 class="header-title login_page__title">welcome to <span class="login_span"> somniary, </span> your dreamspace
      </h1>
    </header>
  </div>
  <!-- empty div to be filled with handlebars templates -->
  <div class="panel">
    <section class="homepage__container">
    <h2 class="panel__title page_body__title">sign up!</h2>
    <!-- two form fields, one with username, one with pass -->
    <form action="/api/users" method="post" class="credit_form login_form signup_form">
      <label for="email">email</label>
      <input class="log_input__container"
        type="email"
        name="email"
        id="email_signup"
        placeholder="enter email"
        required
      />
      <label for="username">username</label>
      <input class="log_input__container"
        type="text"
        name="username"
        id="username_signup"
        placeholder="create username"
        required
      />
      <label for="password">password</label>
      <input class="log_input__container"
        type="password"
        name="password"
        id="password_signup"
        placeholder="create password"
        required
      />
      <h6 id="pass-require">passwords must be 8-16 characters in length</h6>

      <button class="log_btn" id="signup_btn" type="submit" formmethod="post">
        <span id="btn_text">Submit</span>
      </button>
    </form>
    </section>
  </div>
</div>
<!--fontawesome import-->
<script
  src="https://kit.fontawesome.com/d14b0991e4.js"
  crossorigin="anonymous"
></script>
<script src="./js/theme.js"></script>
<script src="./js/signup.js"></script>