<div class="page__container">
  <div class="intro__container main__intro">
    <header>
      <!--navigation to be rendered in from handlebars templates conditionally based upon login status -->
      <h1>welcome to
        <span class="bold">somniary</span>, your dreamspace</h1>
    </header>
  </div>
  <!-- empty div to be filled with handlebars templates -->
  <div class="panel">
    <h2 class="panel__title">sign up!</h2>
    <!-- two form fields, one with username, one with pass -->
    <form action="submit" method="post" class="signup_form">
      <label for="username">email *</label>
      <input type="text" name="email" id="email_signup" required />
      <h6>passwords must be 8-16 characters in length</h6>
      <label for="password">password *</label>
      <input
        type="text"
        name="password"
        id="password_signup"
        placeholder="create password"
        required
      />
      <label for="username">username</label>
      <input
        type="text"
        name="username"
        id="username_signup"
        placeholder="create username"
        required
      />

      <button type="submit" formmethod="post" id="submit">
        <span id="login">log in</span>
      </button>
    </form>
  </div>
</div>
<!--fontawesome import-->
<script
  src="https://kit.fontawesome.com/d14b0991e4.js"
  crossorigin="anonymous"
></script>
<script src="./js/theme.js"></script>