@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&family=Jost:wght@100;200;300;400;500;600;700&display=swap");

/* Overall */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#5d38a0, #fdf8ff);
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

/* Graphics */
#moon {
  mix-blend-mode: screen;
  top: -100%;
}

#stars {
  height: 170%;
  width: 100%;
  object-fit: cover;
  top: -170%;
  left: 0px;
}

#mountains_behind {
  bottom: -100%;
  top: initial;
}

#trees {
  bottom: -150%;
  top: initial;
  z-index: 1000;
}

/* Main heading  */
#title {
  position: absolute;
  color: #5d38a0;
  font-size: 12vh;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  margin-right: -2000px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

/* "Buttons" */
#start {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -2000px;
  text-decoration: none;
  text-align: center;
  padding: 8px 50px;
  background: #fff;
  border-radius: 40px;
  font-size: 1.4em;
  color: #5d38a0;
  z-index: 10000;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

#btn {
  position: absolute;
  top: initial;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 8px 50px;
  background: #fff;
  border-radius: 40px;
  font-size: 1.4em;
  color: #5d38a0;
  z-index: 10000;
  margin-top: 80px;
  cursor: pointer;
}

/* Audio player and functions */
#audio_player {
  position: fixed;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

#play,
#pause,
#next {
  width: 40px;
  height: 40px;
  background-color: #c4b2e8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid white;
}

#volume_label {
  position: absolute;
  left: 60%;
  transform: translateX(-50%) translateY(-90%);
  color: #5d38a0;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-size: large;
  font-weight: bold;
}

#volume_ctrl {
  width: 150px;
  height: 5px;
  background-color: white;
  margin-right: 20px;
  border: 1px solid #5d38a0;
}

#volume_ctrl input[type="range"] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 50%;
}

#volume_ctrl input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: #5d38a0;
  border-radius: 50%;
  border-color: white;
  border-style: groove;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 600px) {
  #btn {
    position: absolute;
    top: initial;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 8px 50px;
    background: #fff;
    border-radius: 40px;
    font-size: 1em;
    color: #5d38a0;
    z-index: 10000;
    margin-top: 80px;
    cursor: pointer;
  }
}
