:root {
    --primary-purple:#5d38a0; /*dark pirple */
    --primary-lightlav:#efe0ff; /*lightest lavender*/
    --primary-light:#fdf8ff; /*off white*/
    --primary-lav:#c4b2e8; /*light lavender*/
    --primary-type:#5d38a0; /*dark purple, icons*/
    --primary-text:black;
}