:root {
  --light-lavender: #c4b2e8;
  --dark-purple: #5d38a0;
  --lightest-lavender: #efe0ff;
  --off-white: #fdf8ff;
  --bs-btn-active-border-color: #efe0ff;
  --bs-btn-active-bg: #efe0ff;
  --bs-btn-active-border-color: #efe0ff;
  --bs-btn-active-bg: #efe0ff;
  --my-animation: 1s ease-in-out all 0s;
}
/* BASIC HOMEPAGE TEMPLATE STYLING*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Jost", sans-serif;
}

h1 {
  color: var(--primary-purple);
  font-size: 3em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
}

footer {
  padding: 30px 0px;
  font-family: "Jost", sans-serif;
  text-align: center;
}

.footer {
  width: 65%;
  margin-top: 3rem;
}
.footer__title {
  color: var(--primary-purple);
  font-weight: bold;
}
.subheading {
  font-size: 32px;
}

.bold {
  font-weight: 800;
}

/* LOG IN and SIGN UP PAGE */
header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-title, .bold{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* WHOLE PAGE CONTAINER -- THE LIGHTER DARKER PURPLE AREA */

.page__container {
  background-color: var(--primary-lav);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

/* THIS IS NOT AFFECTING NOTHING */
/* .intro__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
} */

/* .intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  justify-content: center;
  padding-top: 10vh;
} */

/* LOGIN CREDITS CONTAINER */
.panel__title {
  padding-top: 10vh;
}

.panel {
  width: 100%;
  min-height: 65vh;
  background-color: var(--primary-lightlav);
  border-radius: 40% 40% 0% 0% / 100% 100% 65% 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  /* overflow: hidden;  */
  margin-top: 2rem; 
}

.credit_form{
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px 10px;
  margin: 10px;
}
label{
  padding: 20px;
  color: #5d38a0;

   
}
input{
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px;
  
  
}



/* SIGN UP FORM */
/* PASSWORD REQUIREMENT */
#pass-require{
  margin: 2px;
  color: silver;

  
  
  
}


/* LOGIN BUTTON TEXT COLOR ONLY  */
#btn_text {
  color: white;
  
}

/* THIS IS NOT AFFECTING NOTHING */
/* .signup, 
.login {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  width: 50%; 
  padding-top: 10vh;
} */


/* THE LOGIN and SIGNUP  BUTTON */

.signup_btn,
.login_btn {

  background-color: var(--primary-purple);
  /* width: 10rem; */
  /* height: 3rem; */
  border: 2px;
  border-radius: 40px;
  border-color: transparent;
  margin: 10px;
  width: 8rem;
 
  /* margin-top: 2rem; */
}
button:hover{
  transition: .5s all ease-in-out 0s;
  padding: 5px 5px;
  padding: 10px 15px;
  width: 8rem ;
  
  

  
}


/* REGISTER LINK */
a, .signup-link{
  text-decoration: none;
  color: #ae8cf2;
}

.signup-link:hover, a:hover{
  color: #c4b2e8;
  text-decoration: none;
}
h5{
  display: flex;
  justify-content: center;
  align-items: center;
}

#reg-request{
  color: #ae8cf2;
}

/* END OF LOGIN PAGE AND SIGN UP CSS */


.return_btn {
  cursor: pointer;
}


/* MAIN NAV STYLING*/
header {
  width: 100%;
}
.page__title,
.offcanvas-title {
  font-weight: bolder;
}
.main__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav__button,
.btn-secondary {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-style: none;
  background-color: var(--primary-lightlav);
  margin: 2rem;
}
.btn.btn-primary {
  background-color: var(--primary-lightlav);
}
.profile__button {
  align-self: flex-end;
  margin: 2rem;
}
.nav__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  cursor: pointer;
}

.nav__item {
  margin: 2rem;
  font-weight: bold;
}
.nav__icon {
  margin: 0.5rem;
}

.btn-secondary {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-style: none;
  background-color: var(--primary-lightlav);
  margin: 2rem;
}
.btn-secondary:hover {
  background-color: var(--primary-lightlav);
}
.dropdown-toggle {
  --bs-offcanvas-width: 300px;
  color: var(--primary-purple);
}

.icon__nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.offcanvas-title {
  color: var(--primary-purple);
}
.offcanvas-lg {
  background-color: var(--primary-lav);

  border-radius: 0 7% 7% 0;
}
.mnav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.25rem;
}

/*profile settings styling*/
.profileSettings_body {
  margin-top: 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.profileSettings_header {
  color: var(--primary-purple);
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.profileSettings_label {
  margin-top: 0.5rem;
  font-size: 1em;
}

.profileSettings_username,
.profileSettings_email {
  height: 35px;
  width: 100%;
}

.profileSettings_username,
.profileSettings_email,
#dreamgoal {
  border-radius: 33px;
  background-color: var(--primary-light);
  border-color: transparent;
}
.profileSettings_username::placeholder,
.profileSettings_email::placeholder,
#dreamgoal::placeholder {
  color: var(--primary-purple);
}
#dreamgoal {
  height: 100px;
  width: 100%;
}
#ps_Save {
  background-color: var(--primary-purple);
  color: var(--primary-light);
  width: 10rem;
  height: 3rem;
  border-radius: 50px;
  border-color: transparent;
  margin-top: 2rem;
  justify-self: center;
  align-self: center;
}
.profile_form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}
/* HOME PAGE STYLING*/


.homepage__container{
  margin-top:1.5rem;
  width:80%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
  flex-wrap:wrap;

/* WELCOME ADD ONS*/
.welcome__header{
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--primary-purple);
  margin:auto;
  text-align:center;
  margin:1rem;
}
.welcome__header {
  color: var(--primary-purple);
  margin: auto;
  text-align: center;
  margin: 1rem;

}

.dashboard__container,
.reflection__container {
  width: 80%;
  margin: 1rem;
}

.dashboard__card {
  background-color: var(--primary-light);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  height: 7rem;
  border-radius: 35px;
}
.dashboard__prof {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-lightlav);
  border-color: transparent;
}

.goal__text {
  margin: auto 0;
}
/*cards have styles that can be consolidated*/

.reflection__title {
  color: var(--primary-purple);
}
.dream__card {
  border-radius: 35px;
  background-color: var(--primary-light);

  margin-bottom: 1rem;
  display: flex;
  flex-grow: inherit;
}
.dream__card-body {
  margin: 1rem;
  width: 100%;
}
.dream__card-tags {
  display: flex;
  flex-flow: row wrap;
}

.dream__tag {
  border-radius: 15px;
  width: 20%;
  background-color: var(--primary-lightlav);
  margin: 1rem;
  height: 2rem;
  text-align: center;
}
.viewall__button {
  border-radius: 35px;
  height: 3rem;
  background-color: var(--primary-purple);
  color: var(--primary-light);
  border-color: transparent;
  margin: auto;
}
/*JOURNAL STYLING*/
.journal__container {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.journal-header__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.journal-header {
  color: var(--primary-purple);
  margin: auto;
  text-align: center;
  margin: 1rem;
  font-weight: bold;
}

.journal-subheader {
  width: 75%;
  text-align: center;
  color: var(--primary-purple);
}
.journal-dreams__container {
  width: 80%;
}
.dream-j__card {
  width: 100%;
}
/* LOG NEW DREAM PAGE STYLING*/
.log__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.log_header__title {
  text-align: center;
}
.exit_log__button {
  background-color: transparent;
  border-color: transparent;
  align-self: flex-start;
  margin: 2rem;
}
.logpage__container {
  margin-top: 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.log_form__container {
  width: 100%;
}
.log_header__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.log_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  /*align-content:center;*/
  /*width:80%;*/
}

.log_input__container {
  border-radius: 35px;
  height: 2rem;
  border-color: transparent;
  background-color: var(--primary-light);
}
.log_btn {
  width: 30%;
  margin: 2rem;
  background-color: var(--primary-purple);
  border-radius: 35px;
  color: var(--primary-light);
  border-color: transparent;
  height: 2rem;
  justify-self: center;
  align-self: center;
}
input::placeholder,
textarea::placeholder {
  text-indent: 1rem;
}
.loghidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.dream_type__button {
  width: 30%;
  height: 2rem;
  border-radius: 35px;
  background-color: var(--primary-light);
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}
/* edit of checkbox and default styles*/
input[type="checkbox"] + label {
  color: var(--primary-purple);
}

input[type="checkbox"]:checked + label {
  color: var(--primary-light);
  background-color: var(--primary-lav);
  font-weight: bold;
}
input[type="radio"] + label {
  color: var(--primary-purple);
}

input[type="radio"]:checked + label {
  color: var(--primary-light);
  background-color: var(--primary-lav);
  font-weight: bold;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media (max-width: 991.98px) {
  .icon__nav {
    justify-content: space-between;
  }
  .hidden {
    display: none;
  }
  .panel {
    border-radius: 60% 60% 0% 0% / 100% 100% 65% 65%;
  }
  .offcanvas-lg.offcanvas-start {
    width: 65%;
  }
  .dream__card-tags {
    align-content: center;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .panel {
    border-radius: 70% 70% 0% 0% / 100% 100% 65% 65%;
  }
  .dream__tag {
    width: 60%;
  }
  .dream__card-tags {
    align-content: center;
    justify-content: center;
  }
  .viewall__button {
    width: 40%;
  }
  .journal-dreams__container {
    width: 80%;
    margin: auto;
  }
  .log_btn {
    width: 60%;
  }
  .dream_type__button {
    width: 45%;
  }
  .profileSettings_header {
    font-size: 1.7rem;
  }
}
