:root {
  --bs-btn-active-border-color: #efe0ff;
  --bs-btn-active-bg: #efe0ff;
  --bs-btn-active-border-color: #EFE0FF;
  --bs-btn-active-bg: #EFE0FF;
  --my-animation: 1s ease-in-out all 0s;
}
/* BASIC HOMEPAGE TEMPLATE STYLING*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Jost", sans-serif;
}

footer {
  padding: 30px 0px;
  font-family: "Jost", sans-serif;
  text-align: center;
}
/* page stylings*/
/*page title*/
.page__title{
  font-size:4.5rem;
  color:var(--primary-purple);
}
/* page body title*/
.page_body__title{
  font-size:2rem;
}
/*page body subtitle*/
.page_body__subtitle{
  font-size:1.25em;
}
/*page body text*/
.footer {
  width: 65%;
  margin-top: 3rem;
}
.footer__title{
  color:var(--primary-purple);
  font-weight:bold;
}
.subheading {
  font-size: 32px;
}


.page__container {
  background-color: var(--primary-lav);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  justify-content: center;
  padding-top: 10vh;
}

.panel__title {
  padding-top: 10vh;
}

.panel {
  width: 100%;
  min-height: 65vh;
  background-color: var(--primary-lightlav);
  border-top-left-radius: 300px;
  border-top-right-radius:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  margin-top: 2rem;
}

.btn_text {
  color: white;
}

/*LOGIN AND SIGNUP STYLING*/
.login_page__title, .login_form{
  display:flex;
  justify-content:center;
  
}
.login_span{
  white-space:pre;
  font-weight:bold;
  color:var(--primary-purple);
  display:inline-block;
}
.login_span:hover, .login_span:hover span{
  font-weight:bolder;
}
.login_page__title {
  padding-top: 10vh;
  flex-flow:row wrap;
}
.panel__title, .login_switch__link {
  margin:0 auto;
  color:var(--primary-purple);
  margin-bottom:1rem;
  text-decoration: none;
  text-align:center;
}
.login_switch__link:hover{
  text-decoration:none;
  color:var(--primary-purple);
  font-weight:bolder;
}
/*OVERRIDE BROWSER CHANGING STYLING ON AUTOFILLED INPUTS*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.login_form{
  width:100%;
  flex-flow: column wrap;
}

/* MAIN NAV STYLING*/
header {
  width: 100%;
}

.page__title,
.offcanvas-title {
  font-weight: bolder;
}
.offcanvas-title{
  font-size:3rem;
}
.main__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav__button, .btn-secondary{
  width:3rem;
  height:3rem;
  border-radius:50%;
  border-style:none;
  background-color:var(--primary-lightlav);
  margin:2rem;
}
.btn.btn-primary{
  background-color:var(--primary-lightlav);
}
.profile__button {
  align-self: flex-end;
  margin: 2rem;
}
.nav__list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  cursor: pointer;
}

.nav__item, .mnav_item{
  margin: 2rem;
  font-weight: bold;
  font-size:1.5rem;
}
.nav__icon {
  margin: 0.5rem;
}

.btn-secondary{
  width:3rem;
  height:3rem;
  border-radius:50%;
  border-style:none;
  background-color:var(--primary-lightlav);
  margin:2rem;
}
.btn-secondary:hover {
  background-color:var(--primary-lightlav);
}
.dropdown-toggle{--bs-offcanvas-width: 300px;
  color:var(--primary-purple);
}

.icon__nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.offcanvas-title{
  color:var(--primary-purple);

}
.offcanvas-lg{
  background-color: var(--primary-lav);

  border-radius: 0 7% 7% 0;
}
.mnav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.25rem;
}

/*profile settings styling*/

.profileSettings_header {
  color: var(--primary-purple);
  font-size: 2rem;
  text-align:center;
  margin-bottom:1rem;
  margin-top:2rem;
}

.profileSettings_label {
  margin-top:0.5rem;
  font-size: 1em;
}

.profileSettings_username, .profileSettings_email{
height: 35px;
width: 100%;
}

.profileSettings_username, .profileSettings_email, #dreamgoal{
  border-radius: 33px;
  background-color:var(--primary-light);
  border-color:transparent;
}
.profileSettings_username::placeholder, .profileSettings_email::placeholder , #dreamgoal::placeholder, .log_input__container::placeholder{
  color:var(--primary-purple);
}
#dreamgoal {
  height: 100px;
  width:100%;
}
.profile_form{
  display:flex;
  flex-flow:column wrap;
  align-content:center;
  justify-content:center;
}
/* HOME PAGE STYLING*/

.homepage__container{
  margin-top: 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.welcome__header, .reflection__title{
  color:var(--primary-purple);
  margin:auto;
  text-align:center;
  margin:1rem;
}

.dashboard__container,
.reflection__container {
  width: 80%;
  margin: 1rem;
}

.dashboard__card{
  background-color:var(--primary-light);
  display:flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-content:center;
  height:7rem;
  border-radius:35px;
}
.dashboard__prof{
  width:4rem;
  height:4rem;
  border-radius:50%;
  background-color:var(--primary-lightlav);
  border-color:transparent;
  
}

.goal__text {
  margin: auto 0;
}
/*cards have styles that can be consolidated*/

.reflection__title{
  color:var(--primary-purple);
}
.dream__card{
  border-radius:35px;
  background-color:var(--primary-light);

  margin-bottom: 1rem;
  display: flex;
  flex-grow: inherit;
}
.dream__card-body {
  margin: 1rem;
  width: 100%;
}
.dream__card-tags {
  display: flex;
  flex-flow: row wrap;
}

.dream__tag{
  border-radius:15px;
  width:20%;
  background-color:var(--primary-lightlav);
  margin:1rem;
  height:2rem;
  text-align:center;
  flex-grow: inherit;
}
/*JOURNAL STYLING*/

.journal-header__container, .log_header__container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin:1rem;
}

.journal-header{
  color:var(--primary-purple);
  margin:auto;
  text-align: center;
  margin: 1rem;
  font-weight: bold;
}
.dream_title{
  color:var(--primary-purple);
}
.journal-subheader{
  text-align:center;
  color:var(--primary-purple);

}

.dream-j__card {
  width: 100%;
}
/* LOG NEW DREAM PAGE STYLING*/
.log__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.log_header__title {
  text-align: center;
}
.exit_log__button {
  background-color: transparent;
  border-color: transparent;
  align-self: flex-start;
  margin: 2rem;
}

.log_form__container {
  width: 100%;
}
.log_header__container {
  text-align: center;
  margin:2rem;
}
.log_form {
  display: flex;
  flex-flow: column wrap;
  /*align-content:center;*/
  /*width:80%;*/
}

.log_input__container{
  border-radius:35px;
  height:2rem;
  border-color:transparent;
  background-color:var(--primary-light);
}
.log_btn{
  width:30%;
  margin:2rem;
  background-color:var(--primary-purple);
  border-radius:35px;
  color:var(--primary-light);
  border-color:transparent;
  height:3rem;
  justify-self:center;
  align-self:center;
  padding:.25rem;
}
.dream__author{
  float:right;
}
input::placeholder, textarea::placeholder{

  text-indent: 1rem;
}
.loghidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.dream_type__button {
  width:30%;
  height:2rem;
  border-radius:35px;
  background-color:var(--primary-light);
  color:black;
  text-align:center;
  margin-bottom:1rem;
}
/* edit of checkbox and default styles*/
input[type=checkbox]+label {
  color: var(--primary-purple);
}

input[type=checkbox]:checked+label {
  color: var(--primary-light);
  background-color:var(--primary-lav);
  font-weight:bold;
}
input[type=radio]+label {
  color: var(--primary-purple);
}

input[type=radio]:checked+label {
  color: var(--primary-light);
  background-color:var(--primary-lav);
  font-weight:bold;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN*/
@media (max-width: 991.98px) {
  .icon__nav {
    justify-content: space-between;
  }
  .hidden {
    display: none;
  }
  .offcanvas-lg.offcanvas-start {
    width: 65%;
  }
  .dream__card-tags {
    align-content: center;
    justify-content: center;
  }
  .dream__tag {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .dream__tag {
    width: 60%;
  }
  .dream__card-tags {
    align-content: center;
    justify-content: center;
  }
  .viewall__button {
    width: 40%;
  }
  .journal-dreams__container {
    width: 80%;
    margin: auto;
  }
  .log_btn {
    width: 60%;
  }
  .dream_type__button {
    width: 45%;
  }
  .profileSettings_header{
    font-size:1.7rem;
  }
}
