* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Jost", sans-serif;
}

h1 {
  color: #5d38a0;
  font-size: 3em;
  font-weight: 500;
}

h2 {
  font-size: 2em;
}

.subheading {
  font-size: 32px;
}

.bold {
  font-weight: 800;
}

.page__container {
  background-color: #c4b2e8;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 0;
  justify-content: center;
  padding-top: 10vh;
}

.panel__title {
  padding-top: 10vh;
}

.panel {
  width: 100%;
  min-height: 65vh;
  background-color: #efe0ff;
  border-radius: 40% 40% 0% 0% / 100% 100% 65% 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  margin-top: 2rem;
}

.btn_text {
  color: white;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 10vh;
}

.signup_btn {
  background-color: #877cdc;
  width: 10rem;
  height: 3rem;
  border-radius: 50px;
  border-color: transparent;
  margin-top: 2rem;
}
